<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.module.CorePlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>URLDetectionSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.urldetection.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>URL Detection</string>
			<key>HGSIsUserVisible</key>
			<false/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FilesystemDirectorySearchSource</string>
			<key>HGSIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.filesystemdirectory.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>File System Directories</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>file.directory</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSWebSearchSource</string>
			<key>HGSIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.websearch.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Web Search</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>webpage</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSGoogleWebResultsSource</string>
			<key>HGSIsUserVisible</key>
			<false/>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.webresults.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Google Search</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>webpage</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSSuggestSource</string>
			<key>HGSIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.suggest.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Search Suggestions</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>HGSOpenSearchSuggestSource</string>
			<key>HGSIsUserVisible</key>
			<false/>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.opensearchsuggest.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Open Search Suggestions</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>suggestion</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>TextInput</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSIsUserVisible</key>
			<false/>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.core.textinput.source</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Text Input</string>
			<key>HGSSearchSourceCannotArchive</key>
			<true/>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemOpenAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Open</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>*</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.filesystem.action.open</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemShowInFinderAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.filesystem.action.showinfinder</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Show in Finder</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemQuickLookAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.filesystem.action.quicklook</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Quick Look</string>
			<key>HGSExtensionIconImagePath</key>
			<string>QuickLook.png</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>FileSystemGetInfoAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.filesystem.action.getinfo</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Get Info</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>file</string>
		</dict>
	</array>
</dict>
</plist>
