<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HGSAppleScriptPListVersionKey</key>
	<integer>1</integer>
	<key>HGSAppleScriptScriptsKey</key>
	<array>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Max Volume</string>
			<key>HGSAppleScriptIconKey</key>
			<string>maxVolume.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>maxVolume</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Min Volume</string>
			<key>HGSAppleScriptIconKey</key>
			<string>minVolume.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>minVolume</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Mid Volume</string>
			<key>HGSAppleScriptIconKey</key>
			<string>midVolume.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>midVolume</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Mute Volume</string>
			<key>HGSAppleScriptIconKey</key>
			<string>muteVolume.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>muteVolume</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
