<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HGSAppleScriptPListVersionKey</key>
	<integer>1</integer>
	<key>HGSAppleScriptScriptsKey</key>
	<array>
		<dict>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Toggle iTunes Repeat</string>
			<key>HGSAppleScriptIconKey</key>
			<string>toggleRepeat.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>toggleRepeat</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Toggle iTunes Shuffle</string>
			<key>HGSAppleScriptIconKey</key>
			<string>toggleShuffle.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>toggleShuffle</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Set iTunes Rating To 0</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>setRatingTo0.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>setRatingTo0</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Set iTunes Rating To 1</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>setRatingTo1.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>setRatingTo1</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Set iTunes Rating To 2</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>setRatingTo2.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>setRatingTo2</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Set iTunes Rating To 3</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>setRatingTo3.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>setRatingTo3</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Set iTunes Rating To 3</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>setRatingTo3.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>setRatingTo3</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Set iTunes Rating To 4</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>setRatingTo4.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>setRatingTo4</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Set iTunes Rating To 5</string>
			<key>HGSAppleScriptIconKey</key>
			<string>setRatingTo5.icns</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>setRatingTo5</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Decrease iTunes Volume</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>decreaseVolume.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>decreaseVolume</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Increase iTunes Volume</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>increaseVolume.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>increaseVolume</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Toggle iTunes Mute</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>toggleMute.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>toggleMute</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Increase iTunes Rating</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>increaseRating.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>increaseRating</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
		<dict>
			<key>HGSAppleScriptDisplayNameKey</key>
			<string>Decrease iTunes Rating</string>
			<key>HGSAppleScriptRequiredRunningAppKey</key>
			<string>com.apple.iTunes</string>
			<key>HGSAppleScriptIconKey</key>
			<string>decreaseRating.icns</string>
			<key>HGSAppleScriptHandlerKey</key>
			<string>decreaseRating</string>
			<key>HGSAppleScriptDisplayInGlobalResultsKey</key>
			<true/>
			<key>HGSAppleScriptSwitchContextsKey</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
