<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSObjectAttributeHideFromResults</key>
		<true/>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>web-google</string>
		<key>HGSCorporaSourceAttributeHideFromDesktop</key>
		<true/>
		<key>HGSObjectAttributeName</key>
		<string>iPhone and Web</string>
		<key>HGSObjectAttributeCorpusName</key>
		<string>iPhone and Web</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>googleapp:</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string></string>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSObjectAttributeGoogleAPIIncludeLocation</key>
		<true/>
		<key>HGSObjectAttributeGoogleAPIURL</key>
		<string>http://ajax.googleapis.com/ajax/services/search/local</string>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>alt-local</string>
		<key>HGSObjectAttributeName</key>
		<string>Local</string>
		<key>HGSObjectAttributeHideFromDropdown</key>
		<true/>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://local.google.com/</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchDisplayString</key>
		<string>Search nearby</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://local.google.com/maps?q={searchterms}</string>
		<key>HGSObjectAttributeRequiresLocation</key>
		<true/>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>maps</string>
		<key>HGSObjectAttributeName</key>
		<string>Google Maps</string>
		<key>HGSObjectAttributeHideFromDropdown</key>
		<true/>
		<key>HGSObjectAttributeGoogleAPIURL</key>
		<string>http://ajax.googleapis.com/ajax/services/search/local</string>
		<key>HGSObjectAttributeGoogleAPIIncludeLocation</key>
		<true/>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://maps.google.com/</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://maps.google.com/maps?q={searchterms}</string>
		<key>HGSObjectAttributeWebSearchDisplayString</key>
		<string>Search nearby</string>
		<key>HGSObjectAttributeRequiresLocation</key>
		<true/>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>maps:</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSObjectAttributeGoogleAPIAlwaysHideResults</key>
		<true/>
		<key>HGSObjectAttributeGoogleAPIURL</key>
		<string>http://ajax.googleapis.com/ajax/services/search/images</string>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>image_search</string>
		<key>HGSObjectAttributeInlineBrowserLimit</key>
		<string>http://images.google.com/images</string>
		<key>HGSObjectAttributeSearchInline</key>
		<true/>
		<key>HGSObjectAttributeName</key>
		<string>^Google Image Search</string>
		<key>HGSObjectAttributeCorpusName</key>
		<string>Images</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://images.google.com/imghp</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://images.google.com/images?q={searchterms}</string>
		<key>HGSObjectAttributeHasLocalizedGoogleDomain</key>
		<true/>
		<key>HGSObjectAttributeAcceptsSafeSearch</key>
		<true/>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>gmail</string>
		<key>HGSObjectAttributeName</key>
		<string>^Gmail</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://mail.google.com/mail/?view=tl&amp;q={searchterms}&amp;search=query&amp;fs=1</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://mail.google.com</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://www.google.com/m#gmail</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>calendar</string>
		<key>HGSObjectAttributeName</key>
		<string>Google Calendar</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/calendar</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://www.google.com/m#calendar</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSObjectAttributeGoogleAPIHideResults</key>
		<true/>
		<key>HGSObjectAttributeGoogleAPIURL</key>
		<string>http://ajax.googleapis.com/ajax/services/search/news</string>
		<key>HGSObjectAttributeInlineBrowserLimit</key>
		<string>http://news.google.com/news</string>
		<key>HGSObjectAttributeGoogleAPIAlwaysHideResults</key>
		<true/>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>news</string>
		<key>HGSObjectAttributeName</key>
		<string>^Google News</string>
		<key>HGSObjectAttributeCorpusName</key>
		<string>News</string>
		<key>HGSObjectAttributeSearchInline</key>
		<true/>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/news</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://www.google.com/m/news</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://news.google.com/news?q={searchterms}</string>
		<key>HGSObjectAttributeHasLocalizedGoogleDomain</key>
		<true/>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSObjectAttributeGoogleAPIAlwaysHideResults</key>
		<true/>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>groups-icon</string>
		<key>HGSObjectAttributeName</key>
		<string>Google Groups</string>
		<key>HGSCorporaSourceAttributeHideCorpus</key>
		<true/>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://groups.google.com/</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://groups.google.com/groups/search?q={searchterms}</string>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSObjectAttributeInlineBrowserLimit</key>
		<string>http://www.google.com/products</string>
		<key>HGSObjectAttributeGoogleAPIAlwaysHideResults</key>
		<true/>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>alt-shopping</string>
		<key>HGSObjectAttributeName</key>
		<string>^Google Product Search</string>
		<key>HGSObjectAttributeCorpusName</key>
		<string>Shopping</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/products</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeSearchInline</key>
		<true/>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://www.google.com/products?q={searchterms}</string>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSObjectAttributeGoogleAPIURL</key>
		<string>http://ajax.googleapis.com/ajax/services/search/web</string>
		<key>HGSCorporaSourceAttributeHideCorpus</key>
		<true/>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>googlecom</string>
		<key>HGSObjectAttributeSearchInline</key>
		<true/>
		<key>HGSObjectAttributeInlineBrowserLimit</key>
		<string>http://www.google.com/search</string>
		<key>HGSObjectAttributeName</key>
		<string>Google.com</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchDisplayString</key>
		<string>Search Google</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://www.google.com/search?q={searchterms}</string>
	</dict>
	<dict>
		<key>HGSObjectAttributeCategory</key>
		<string>Google</string>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>wikipedia</string>
		<key>HGSObjectAttributeName</key>
		<string>^Wikipedia</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://en.wikipedia.org</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://en.wikipedia.org/wiki/Special:Search?search={searchterms}</string>
		<key>HGSObjectAttributeWebSuggestTemplate</key>
		<string>http://en.wikipedia.org/w/api.php?action=opensearch&amp;search={searchterms}&amp;namespace=0</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeHideCorpus</key>
		<true/>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>amazon-icon</string>
		<key>HGSObjectAttributeName</key>
		<string>Amazon</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.amazon.com</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://www.amazon.com/s/ref=nb_ss_gw?field-keywords={searchterms}</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeHideCorpus</key>
		<true/>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>imdb-icon</string>
		<key>HGSObjectAttributeName</key>
		<string>IMDB</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.imdb.com</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://www.imdb.com/find?s=all&amp;q={searchterms}</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>reader</string>
		<key>HGSObjectAttributeName</key>
		<string>Google Reader</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://www.google.com/m#reader</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/reader</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>SupportedLanguages</key>
		<dict>
			<key>en</key>
			<string></string>
		</dict>
		<key>AcceptsHL</key>
		<true/>
		<key>HGSObjectAttributeName</key>
		<string>Google Talk</string>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>talk</string>
		<key>Id</key>
		<string>talk</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://talkgadget.google.com/talkgadget/popout</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://talkgadget.google.com/talkgadget/m</string>
		<key>AcceptsSource</key>
		<true/>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>photos</string>
		<key>HGSObjectAttributeName</key>
		<string>Picasa Web Albums</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://picasaweb.google.com/</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://picasaweb.google.com/m/</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>docs</string>
		<key>HGSObjectAttributeName</key>
		<string>^Google Docs</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://docs.google.com/#search/{searchterms}</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://docs.google.com/</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://docs.google.com/m</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>igoogle</string>
		<key>HGSObjectAttributeName</key>
		<string>iGoogle</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/ig</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>notebook</string>
		<key>HGSObjectAttributeName</key>
		<string>Google Notebook</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>http://www.google.com/notebook/m</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/notebook/</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>goog411</string>
		<key>HGSObjectAttributeName</key>
		<string>GOOG-411</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>tel:800-4664-411</string>
		<key>HGSObjectAttributeHideFromResults</key>
		<true/>
		<key>HGSCorporaSourceAttributeHideFromDesktop</key>
		<true/>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>youtube</string>
		<key>HGSObjectAttributeName</key>
		<string>^YouTube</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.youtube.com/</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>youtube:</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://www.youtube.com/results?search_query={searchterms}</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>blogger</string>
		<key>HGSObjectAttributeName</key>
		<string>Blogger</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://blogger.com</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
	<dict>
		<key>HGSCorporaSourceAttributeIconName</key>
		<string>finance</string>
		<key>HGSObjectAttributeName</key>
		<string>Google Finance</string>
		<key>HGSCorporaSourceAttributeURIString</key>
		<string>http://www.google.com/finance</string>
		<key>HGSCorporaSourceAttributeMobileURIString</key>
		<string>finance:</string>
		<key>HGSObjectAttributeWebSearchTemplate</key>
		<string>http://www.google.com/finance?q={searchterms}</string>
		<key>HGSObjectAttributeType</key>
		<string>webpage.application</string>
	</dict>
</array>
</plist>
