<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.qsb.module.iTunes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>HGSExtensions</key>
	<array>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesSource</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.source</string>
			<key>HGSExtensionPoint</key>
			<string>HGSSourcesExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>iTunes Music</string>
			<key>HGSSearchSourcePivotableTypes</key>
			<string>itunes</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesPlayAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.play</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Play in iTunes</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>itunes</string>
			<key>HGSExtensionIconImagePath</key>
			<string>Play.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesPlayInPartyShuffleAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.playinpartyshuffle</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>itunes.track</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Play in Party Shuffle</string>
			<key>HGSExtensionIconImagePath</key>
			<string>PlayInPartyShuffle.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAddToPartyShuffleAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.addtopartyshuffle</string>
			<key>HGSActionDirectObjectTypes</key>
			<string>itunes.track</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Add to Party Shuffle</string>
			<key>HGSExtensionIconImagePath</key>
			<string>AddToPartyShuffle.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAppAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.playapp</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Play</string>
			<key>iTunesCommand</key>
			<string>playNow</string>
			<key>HGSExtensionIconImagePath</key>
			<string>Play.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAppAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.pauseapp</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Pause</string>
			<key>iTunesCommand</key>
			<string>pauseNow</string>
			<key>HGSExtensionIconImagePath</key>
			<string>Pause.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAppAction</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.nextapp</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Next</string>
			<key>iTunesCommand</key>
			<string>goForward</string>
			<key>HGSExtensionIconImagePath</key>
			<string>NextSong.icns</string>
		</dict>
		<dict>
			<key>HGSExtensionClass</key>
			<string>ITunesAppAction</string>
			<key>HGSExtensionIdentifier</key>
			<string>com.google.qsb.itunes.action.previousapp</string>
			<key>HGSExtensionPoint</key>
			<string>HGSActionsExtensionPoint</string>
			<key>HGSExtensionUserVisibleName</key>
			<string>Previous</string>
			<key>iTunesCommand</key>
			<string>goBack</string>
			<key>HGSExtensionIconImagePath</key>
			<string>PreviousSong.icns</string>
		</dict>
	</array>
</dict>
</plist>
